; #### find_axis_id
;       Sets given variable to an index of axis with the particular letter

{% macro find_axis_id(letter, out_var) -%}
;----- find_axis_id("{{ letter }}", {{ out_var }})

{% set my_iter = py.unique_var('axis_iter') -%}
{% set my_success = py.unique_var('find_success') -%}

var {{ my_iter }} = 0
var {{ my_success }} = 0 ; 0 - not found, 1 - found

while var.{{ my_iter }} < #move.axes
    if move.axes[var.{{my_iter}}].letter == "{{ letter }}"
        set var.{{ my_success }} = 1
        set {{ out_var }} = var.{{ my_iter }}
        break
    set var.{{my_iter}} = var.{{ my_iter }} + 1

if var.{{ my_success }} == 0
    abort "Failed to find {{ letter }} axis"

;----- find_axis_id("{{ letter }}", {{ out_var }}) END
{%- endmacro %}


{% macro set_mov_axis_id(to_var, axis_name) -%}

var {{ to_var }} = -1
{{ find_axis_id(axis_name, "var." + to_var) }}

{%- endmacro %}
