{% macro apply_speed_limits(limit) -%}
; --- apply_speed_limits({{limit}})
{% for (gcode, params) in limit.items() -%}
{{ gcode }} {{ py.format_gcode_param_str(params) }}
{% endfor -%}
; --- apply_speed_limits() END
{% endmacro -%}