; home{{ letter }}.g
; called to home the A or B axis (brushes)
{% import '__macros__/move.jinja' as move %}

{% call move.rel_move() %}
{% call move.drop_motor_current(0.3, motors=[letter]) %}

G1 H2 {{letter}}{{ -1 * (axis.width + 10) }} F50000
G1 H2 {{letter}}1                                           ; Back out a little bit
G92 {{letter}}{{ axis.min }}                                ; Mark {{ letter }} as homed

{% endcall %}
{% endcall %}
