; This macro saves and restores currently used tool

{% import '__macros__/axes.jinja' as axes %}

{% set c_axis = py.unique_var('c_axis') %}
{% set old_tool = py.unique_var('old_tool') %}

var {{ c_axis }} = -1
var {{ old_tool }} = -1

{{ axes.find_axis_id('C', 'var.' + c_axis) }}

if !move.axes[var.{{ c_axis }}].homed
    abort "Coupler (C) is not homed."


set var.{{ old_tool }} = state.currentTool
T-1

{% block content %}
--- Content goes here
{% endblock %}

T{ var.{{ old_tool }} }

