; This macro saves and restores currently used tool

{% set old_tool = py.unique_var('old_tool') %}

var {{ old_tool }} = -1

if !move.axes[{{ py.g.axis.C.index }}].homed
    abort "Coupler (C) is not homed."


set var.{{ old_tool }} = state.currentTool
T-1

{% block content %}
--- Content goes here
{% endblock %}

T{ var.{{ old_tool }} }

