; tfree{{ tool.id }}.g
; called when tool {{ tool.id }} is freed

{% import '__macros__/errors.jinja' as err %}
{% from "__macros__/move.jinja" import avoid_tc_clash %}

;Drop the bed
G91
G1 Z4 F1000
G90

; Just in case - take care not to clash with the environment
{{ avoid_tc_clash() }}

;Purge nozzle
M98 P"/sys/usr/pre_dock.g"

;Move In
{% set rounded_Y = (tool.park.Y // 20) * 20 -%}
G53 G1 X{{ tool.park.X }} Y{{ rounded_Y - 90 }} F50000
{{ err.abort_on_error("Unable to complete approach step #0 (tool {id})".format(**tool)) }}
G53 G1 X{{ tool.park.X }} Y{{ rounded_Y - 40 }} F50000
{{ err.abort_on_error("Unable to complete approach step #1 (tool {id})".format(**tool)) }}
G53 G1 X{{ tool.park.X }} Y{{ rounded_Y - 20 }} F50000
{{ err.abort_on_error("Unable to complete approach step #2 (tool {id})".format(**tool)) }}

M913 X60 Y60 ; Set the motor current to 60%

G53 G1 X{{ tool.park.X }} Y{{ tool.park.Y }} F5000
{{ err.abort_on_error("Unable to complete approach step #3 (tool {id})".format(**tool)) }}

M913 X100 Y100 ; Restore the motor current

;Open Coupler
M98 P"/macros/Coupler - Unlock"

;fan off
M106 P{{ tool.fan }} S0

; Restore global extra settings
{% from 'sys/config.g' import apply_global_settings with context  %}
{{ apply_global_settings() }}

;Move Out
G53 G1 X{{ tool.park.X }} Y{{ rounded_Y - 65 }} F50000
M98 P"/sys/usr/reset_tool_offsets.g"