; tfree{{ tool.id }}.g
; called when tool {{ tool.id }} is freed

{% import '__macros__/move.jinja' as move %}
{% import '__macros__/errors.jinja' as err %}
{% from '__macros__/babystep.jinja' import save_tool_babystep %}

; Save tool position & settings

M98 P"/sys/usr/lib/xyz_stack.g" S1

{{ save_tool_babystep(tool.id) }}

; Just in case - take care not to clash with the environment
{{ move.avoid_tc_clash() }}

;Purge nozzle
M98 P"/sys/usr/pre_dock.g"

{% call move.drop_motor_current(0.6) -%}

{% set move_start_y = 175 -%}
; Approach at reducing speed
{% call(move_params) move.feedrate_changing_sequence(tool.park.X, move_start_y, 10000, tool.park.X, tool.park.Y, 5000) -%}
G53 G1 {{ py.format_gcode_param_str(move_params) }}
{%- endcall %}


{%- endcall %}

;Open Coupler
M98 P"/macros/Coupler - Unlock"

; M98 P"/sys/usr/configure_tool.g" T-1

;fan off
M106 P{{ tool.fan }} S0

;Move Out
G53 G1 X{{ tool.park.X }} Y180 F50000
