; tpost{{ tool.id }}.g
; called after tool {{ tool.id }} has been selected

{% from '__macros__/babystep.jinja' import activate_tool_babystep %}

M116 P{{ tool.id }}

M106 R2 ; restore print cooling fan speed

;prime nozzle
M98 P"/sys/usr/prime.g"

; restore tool position
{{ activate_tool_babystep(tool.id) }}


; move to pre-tool change restore point
;G0 R2 X0 Y0 Z2 F99999
;G0 R2 X0 Y0 Z0 F2000