; tpre{{ tool.id }}.g
; called before tool {{ tool.id }} is selected

{% import '__macros__/move.jinja' as move %}
{% import '__macros__/errors.jinja' as err %}
{% from "__macros__/move.jinja" import avoid_tc_clash, feedrate_changing_sequence %}

; Just in case - take care not to clash with the environment
{{ avoid_tc_clash() }}

;Unlock Coupler
M98 P"/macros/Coupler - Unlock"

{% set move_start_y = 180 -%}

;Move to location
G53 G1 X{{ tool.park.X }} Y{{ move_start_y }} F50000

M913 X60 Y60 ; Set the motor current to 60%

; Approach at reducing speed
{% call(move_params) feedrate_changing_sequence(tool.park.X, move_start_y, 10000, tool.park.X, tool.park.Y, 5000) -%}
G53 G1 {{ py.format_gcode_param_str(move_params) }}
{%- endcall %}

;Collect
G53 G1 X{{ tool.park.X }} Y{{ tool.park.Y }} F2500


;Close Coupler
M98 P"/macros/Coupler - Lock"

M98 P"/sys/usr/configure_tool.g" T{{ tool.id }}

;WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING!
;if you are using non-standard length hotends ensure the bed is lowered enough BEFORE undocking the tool!

{% call move.rel_move() %}
G1 Z{{ -2 * tool.offsets.Z }} F1000
{% endcall %}


G1 A{{ -1 * tool.offsets.Z }} B{{ -1 * tool.offsets.Z }}  ; Adjust brush heights

M913 X100 Y100 ; Restore the motor current

;Move Out
G53 G1 X{{ tool.park.X }} Y{{ move_start_y - tool.offsets.Y }} F4000