; tpre{{ tool.id }}.g
; called before tool {{ tool.id }} is selected

{% import '__macros__/move.jinja' as move %}
{% import '__macros__/errors.jinja' as err %}


; Just in case - take care not to clash with the environment
{{ move.avoid_tc_clash() }}

;Unlock Coupler
M98 P"/macros/Coupler - Unlock"

{% set move_start_y = 175 -%}

;Move to location
G53 G1 X{{ tool.park.X }} Y{{ move_start_y }} F50000

{% call move.drop_motor_current(0.6) %}

; Approach at reducing speed
{% call(move_params) move.feedrate_changing_sequence(tool.park.X, move_start_y, 10000, tool.park.X, tool.park.Y, 5000) -%}
G53 G1 {{ py.format_gcode_param_str(move_params) }}
{%- endcall %}

;Collect
G53 G1 X{{ tool.park.X }} Y{{ tool.park.Y }} F2500


;Close Coupler
M98 P"/macros/Coupler - Lock"

M98 P"/sys/usr/configure_tool.g" T{{ tool.id }}

;WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING!
;if you are using non-standard length hotends ensure the bed is lowered enough BEFORE undocking the tool!


{% call move.rel_move() %}
G1 Z{{ -2 * tool.offsets.Z }} F1000
{% endcall %}


G1 A{{ -1 * tool.offsets.Z }} B{{ -1 * tool.offsets.Z }}  ; Adjust brush heights

{% endcall %}

;Move Out
G53 G1 Y{{ move_start_y }} F4000
{{ move.avoid_tc_clash() }}