; tpre{{ tool.id }}.g
; called before tool {{ tool.id }} is selected

{% import '__macros__/errors.jinja' as err %}
{% from "__macros__/move.jinja" import avoid_tc_clash, feedrate_changing_sequence %}

; Just in case - take care not to clash with the environment
{{ avoid_tc_clash() }}

M98 P"/sys/usr/reset_tool_offsets.g"
;Unlock Coupler
M98 P"/macros/Coupler - Unlock"

{% set move_start_y = 180 -%}

;Move to location
G53 G1 X{{ tool.park.X }} Y{{ move_start_y }} F50000

M913 X60 Y60 ; Set the motor current to 60%

; Approach at reducing speed
{% call(move_params) feedrate_changing_sequence(tool.park.X, move_start_y, 10000, tool.park.X, tool.park.Y, 5000) -%}
G53 G1 {{ py.format_gcode_param_str(move_params) }}
{%- endcall %}

;Collect
G53 G1 X{{ tool.park.X }} Y{{ tool.park.Y }} F2500


;Close Coupler
M98 P"/macros/Coupler - Lock"

;WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING! WARNING!
;if you are using non-standard length hotends ensure the bed is lowered enough BEFORE undocking the tool!
G91
G1 Z{{ -2 * tool.offsets.Z }} F1000
G90

G1 A{{ -1 * tool.offsets.Z }} B{{ -1 * tool.offsets.Z }}  ; Adjust brush heights

M913 X100 Y100 ; Restore the motor current

{% if 'extra_settings' in tool %}
; {{ tool.extra_settings }}
{% for (cmd, params) in tool.extra_settings.items() -%}

{{ cmd }} {{ py.format_gcode_param_str(params, P=tool.id) }}

{% endfor -%}
{% endif %}

;Move Out
G53 G1 X{{ tool.park.X }} Y{{ move_start_y - tool.offsets.Y }} F4000